rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas de seguridad para la colección 'usuarios'
    match /usuarios/{userId} {
      // Solo permite leer o escribir si el usuario inició sesión (auth != null)
      // y si el ID del documento coincide con el UID del usuario logueado.
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
  }
}