rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Solo usuarios autenticados pueden leer y subir archivos de módulos
    match /modulos/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
